<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/filter.css">
    <title>Filtro</title>
</head>
<body>
    <a class="home" href="/"><button>Início</button></a>
    <table class="filterTable">
        <tr>
            <th>Nome da criança</th>
            <th>Quanto calça</th>
            <th>Idade</th>
            <th>Sexo</th>
            <th>Tamanho que veste</th>
            <th>Nome da mãe</th>
        </tr>
        <% filteredArray.forEach(element => { %>
            <tr>
                <td> <%= element.childName %> </td>
                <td> <%= element.shoeNumber %> </td>
                <td> <%= element.childAge %> </td>
                <td> <%= element.gender %> </td>
                <td> <%= element.clothing %> </td>
                <td> <%= element.motherName %> </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>