<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Visão geral</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome da criança</th>
            <th>Quanto calça</th>
            <th>Idade</th>
            <th>Sexo</th>
            <th>Tamanho que veste</th>
            <th>Nome da mãe</th>
        </tr>
        <% database.forEach(child => { %>
            <tr>
                <td><%= child.childID %></td>
                <td><%= child.childName %></td>
                <td><%= child.shoeNumber %></td>
                <td><%= child.childAge %></td>
                <td><%= child.gender %></td>
                <td><%= child.clothing %></td>
                <td><%= child.motherName %></td>
            </tr>
        <% }) %>
    </table>
    <form class="deleteForm" action="/delete" method="POST">
        <label for="delete">Deletar cadastro: </label>
        <input type="number" name="delete" id="delete" placeholder=" ID">
        <button type="submit">Deletar</button>
    </form>
    <a href="/" class="turnBack"><button>Voltar</button></a>
</body>
</html>